<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <clear />
    <add key ="StringConexion" value ='data source=.\SQLSERVER2012; initial catalog=GD2C2018; user id=gdEspectaculos2018; password=gd2018; MultipleActiveResultSets=True'/>
    <add key ="FechaSistema" value ="2019-01-01"/>
    <add key ="FechaSistema2" value ="20180101"/>
  </appSettings>
</configuration>